
.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid #ec9f234f;
  }

  .footer-icon {
    width: 60px; /* Adjust the width to make the icon smaller */
    height: 50px; /* Adjust the height to maintain aspect ratio */
}



  pre {
    background-color: #ec9f234f;
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header {
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
}

nav {
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
}

main {
  max-width: 800px; /* Optional: Set a maximum width for the content */
  width: 100%;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #ec9f234f;
  padding: 10px;
  max-width: 1000px; /* Set the maximum width for the footer */
            width: 100%; /* Set the width to occupy the available space */
            /* margin-left: auto; /* Align the footer to the right */
            /*margin-right: auto; /* Align the footer to the left */
}